extends layout

block content
  h1 Video Store
  p
    | Welkom op de Video Store, dit project is gemaakt met de data van de sakila database. <br>
    | Dit project is gemaakt door Jelle Jankowski in het 2e jaar van Informatica op Avans Hogeschool Breda.<br>
    | 2220486